<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Minha Conta | BibliotecaSetorial</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Icon -->
  <link href="static/logo/pen.png" rel="icon" type="image/png" >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
    rel="stylesheet">

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="static/lib/slick/slick.css" rel="stylesheet">
  <link href="static/lib/slick/slick-theme.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- Nav Bar Start -->
  <div class="nav">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto">
            <a href="templates/index.html" class="nav-item nav-link">Início</a>
            <a href="templates/login.html" class="nav-item nav-link">Login</a>
            <a href="templates/cart.html" class="nav-item nav-link">Livros</a>
            <a href="templates/my-account.html" class="nav-item nav-link active">Minha Conta</a>
            <a href="templates/checkout.html" class="nav-item nav-link">Checkout</a>
          </div>
        </div>
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a href="templates/index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Área do Usuário</a>
            <div class="dropdown-menu">
              <a href="templates/login.html" class="dropdown-item">Login</a>
            </div>
          </div>
        </div>
    </div>
    </nav>
  </div>
  </div>
  <!-- Nav Bar End -->

  <!-- Bottom Bar Start -->
  <div class="bottom-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-8">
          <div class="logo">
            <a href="index.html">
              <img src="static/logo/logo.png" alt="Logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom Bar End -->

  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Livros</a></li>
        <li class="breadcrumb-item active">Minha Conta</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- My Account Start -->
  <div class="my-account">
    <div class="container-fluid">
      <div class="row">


        <div class="col-md-3">
          <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i
                class="fa fa-tachometer-alt"></i>Dashboard</a>
            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i
                class="fa fa-shopping-bag"></i>Empréstimos</a>
            <a class="nav-link" href="index.html"><i class="fa fa-sign-out-alt"></i>Logout</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
              <h4>Dashboard</h4>
              <div>
                <img src="https://suap.ifrn.edu.br{{ url_foto_150x200 }}" class="">
                <h3 class="contact-info"> {{ matricula }}</h3>
                <h3 class="contact"> {{ nome }}</h3>
                <p class="product-content"> {{ tipo_vinculo }}</p>
              </div>
            </div>
            <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>ID</th>
                      <th>Livro</th>
                      <th>Quantidade de Páginas</th>
                      <th>Usuário Matrícula</th>
                      <th>Status</th
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>009</td>
                      <td>Android CokBook</td>
                      <td>672 páginas</td>
                      <td>20201084010009</td>
                      <td><button class="btn">Devolver</button></td>
                    </tr>
                    <tr>
                      <td>010</td>
                      <td>Ensine seus filhos a Programar</td>
                      <td>368 páginas</td>
                      <td>20201084010100</td>
                      <td><button class="btn">Devolver</button></td>
                    </tr>
                    <tr>
                      <td>011</td>
                      <td>Introdução a Informática</td>
                      <td>640 páginas</td>
                      <td>2020108401022</td>
                      <td><button class="btn">Devolver</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- My Account End -->

  <!-- Back to Top -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/slick/slick.min.js"></script>

  <!-- Template Javascript -->
  <script src="static/js/main.js"></script>
</body>

</html>