<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>BibliotecaSetorial</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Icon -->
  <link href="static/logo/pen.png" rel="icon" type="image/png" >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
    rel="stylesheet">

  <!-- CSS Libraries -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="static/lib/slick/slick.css" rel="stylesheet">
  <link href="static/lib/slick/slick-theme.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- Nav Bar Start -->
  <div class="nav">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto">
            <a href="/painel" class="nav-item nav-link active">Início</a>
            <a href="/login" class="nav-item nav-link">Login</a>
            <a href="/livros" class="nav-item nav-link">Livros</a>
            <a href="/minha_conta" class="nav-item nav-link">Minha conta</a>
            <div class="nav-item dropdown">
            </div>
          </div>
          <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
            </div>
          </div>
        </div>
    </div>
    </nav>
  </div>
  </div>
  <!-- Nav Bar End -->

  <!-- Bottom Bar Start -->
  <div class="bottom-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-5">
          <div class="logo">
            <a href="/painel">
              <img src="static/logo/logo.png" alt="Logo">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search">
            <input type="text" placeholder="Pesquisar">
            <button><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom Bar End -->

  <!-- Main Slider Start -->
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar bg-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/painel"><i class="fa fa-home"></i>Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/livros"><i class="fa-solid fa-book"></i>Livros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="templates/my-account.html"><i class="fa-solid fa-user"></i>Minha conta</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-6 col-lg-8 ">
          <div class="header-slider normal-slider">
            <div class="header-slider-item">
              <img src="static/logo/informatica.png" alt="Slider Image" />
              <div class="header-slider-caption">
                <p>Confira abaixo os livros da área de Informática</p>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Faça seu empréstimo</a>
              </div>
            </div>
            <div class="header-slider-item">
              <img src="static/logo/quimica.png" alt="Slider Image" />
              <div class="header-slider-caption">
                <p>Confira abaixo os livros da área de Química</p>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Faça seu empréstimo</a>
              </div>
            </div>
            <div class="header-slider-item">
              <img src="static/logo/agropecuaria.jpg" alt="Slider Image" />
              <div class="header-slider-caption">
                <p>Confira abaixo os livros da área de Agropecuária</p>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Faça seu empréstimo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Slider End -->

  <!-- Feature Start-->
  <div class="feature">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 feature-col">
          <div class="feature-content">
            <i class="fa-solid fa-microchip"></i>
            <h2>Informática</h2>
            <p>
              Explore os conteúdos relacionados aos estudos da informática
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 feature-col">
          <div class="feature-content">
            <i class="fa-solid fa-flask"></i>
            <h2>Química</h2>
            <p>
              Explore os conteúdos relacionados a estudos químicos
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 feature-col">
          <div class="feature-content">
            <i class="fa-solid fa-leaf"></i>
            <h2>Agropecuária</h2>
            <p>
              Explore os conteúdos relacionados aos estudos agrários
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Feature End-->

  <!-- Featured Product Start -->
  <div class="Livros mais requisitados">
    <div class="container-fluid">
      <div class="section-header">
        <h1>LIVROS DISPONÍVEIS</h1>
      </div>
      <div class="row align-items-center product-slider product-slider-4">
        {% if livro %}
          {% for l in livro %}
          <div class="col-lg-3">
            <div class="product-item">
              <div class="product-title">
                <a href="#">{{ l[1] }}</a>
              </div>
              <div class="product-image">
                <a href="product-detail.html">
                  <img src="{{ l[5] }}" alt="Capa do Livro {{ l[1] }}" style="width: 265px; height: 320px;">
                </a>
              <div class="product-price">
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Emprétimo</a>
              </div>
            </div>
          </div>
      </div>
          {% endfor %}
        {% else %}
          <p>Nenhum item foi encontrado</p>
        {% endif %}
    </div>
  </div>
  <!-- Featured Product End -->

  <!-- Review Start -->
  <div class="review">
    <div class="container-fluid">
      <div class="row align-items-center review-slider normal-slider">
        <div class="col-md-6">
          <div class="review-slider-item">
            <div class="review-img">
              <img src="https://suap.ifrn.edu.br/media/fotos/75x100/166180.e8Fc9on3u6gV.jpg" alt="Image">
            </div>
            <div class="review-text">
              <h2>Avaliação</h2>
              <h3>Professor Carlos Fran</h3>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                Indico os livros de Sistemas de Banco de Dados especialmente para os meus alunos do 3° ano de
                informática. Ajudará bastante na compreensão dos assuntos ministrados em aula.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="review-slider-item">
            <div class="review-img">
              <img src="https://suap.ifrn.edu.br/media/fotos/75x100/274516.hHM7STb6XN8T.jpg" alt="Image">
            </div>
            <div class="review-text">
              <h2>Avaliação</h2>
              <h3>Professor Jackson Costa</h3>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                Biblioteca repleta de livros ricos em conhecimento. Super recomendo o livro Interação Humano -
                Computador, ensina muito sobre sistemas interativos e a nova realidade a nossa volta.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="review-slider-item">
            <div class="review-img">
              <img src="https://suap.ifrn.edu.br/media/alunos/267960.H0EPPRejt6c1.jpg" alt="Image">
            </div>
            <div class="review-text">
              <h2>Avaliação</h2>
              <h3>Aluno Hamilton Cristyan</h3>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                O livro, Análise e Projeto de Sistema de Informação Orientados a Objetos, me auxiliou bastante durante
                os estudos de programação no 2º ano. Indico muito!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Review End -->

  <!-- Footer Start -->

  <!-- Footer End -->

  <!-- Footer Bottom Start -->

  <!-- Footer Bottom End -->

  <!-- Back to Top -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/slick/slick.min.js"></script>

  <script src="https://kit.fontawesome.com/b073169110.js" crossorigin="anonymous"></script>

  <!-- Template Javascript -->
  <script src="static/js/main.js"></script>
</body>

</html>